<div class="request-form span3">			
		<%=form_for(:order_request,url: order_requests_path, :action => :create) do |f|%>
		 	<%= text_field_tag 'mobile', nil, :class=>"span6",:placeholder => "Mobile Number" %>
			<%= text_area_tag 'request', nil, :class=>"span6",:placeholder => "Request"%>
			<% if @category %>
		 		<%= hidden_field_tag 'category_id', @category %>
		 	<% end %>
  			<%= f.submit "Place a Request", :class => "btn btn-info" %>
  		<% end %>
</div>