<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @store.contact_name %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @store.contact_no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @store.pin %>
</p>

<p>
  <strong>Review:</strong>
  <%= @store.review %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @store.rating %>
</p>

<p>
  <strong>Active:</strong>
  <%= @store.active %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
