
<%= form_for(@customer_management, :html =>{:class => "form-horizontal"}) do |f| %>
<% if @customer_management.errors.any? %>
	<div class="center-box">
    <div class="alert alert-error span8">
      <h3 class="">Please fix these <%= pluralize(@customer_management.errors.count, "error")%> to Sign Up</h3>

      <ul class="">
      <% @customer_management.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
   </div>
  <% end %>  
  <div class="control-group">
    <div class="center">
    <%= f.text_field :email, :placeholder => "Email Address", :class => "text-Box"  %>
    </div>
  </div>
  <div class="control-group">
    <div class="center">
    <%= f.password_field :password, :placeholder => "Password", :class => "text-Box"  %>
    </div>
  </div>
  <div class="control-group">
    <div class="center">
    <%= f.password_field :password_confirmation, :placeholder => "Re-type Password", :class => "text-Box"  %>
    </div>
  </div>
  <div class="control-group">
    <div class="center">
    <%= f.text_field :name, :placeholder => "Full Name", :class => "text-Box" %>
    <%= f.hidden_field, :role, :value => "author"%>
    </div>
  </div>
    <div class="control-group">
    <div class="center">
    <%= f.text_field :mobile_number, :placeholder => "Mobile Number", :class => "text-Box"  %>
    </div>
  </div>
  
  <div class="control-group">
	<div class="center"
  		<div class="actions">
    		<%= f.submit "Create Account", class: "btn btn-info"%>
  		</div>
	</div>
  </div>
  
  <div class="control-group">
	<div class="center-text">(OR) 
	</div>
  </div>  
<% end %>  
  <div class="control-group">
	<div class="center">	
		<%= button_to 'Login with facebook', "/auth/facebook", :class => "btn btn-primary" %>
	</div> 
  </div> 
  
  <div class="control-group">
	<div class="center">
	</div> 
  </div>



