<div id="footer" class="footer" >
	<hr>
	<div class="visible-desktop visible-tablet">
	<div class="row first">
		<ul class="section first">
			<li class="link"><%= link_to 'Home',       root_path, :class => "text"%></li>	
			<li class="link"><%= link_to 'About Us',      plus_inprogress_index_path, :class => "text"%></li>				
		</ul>
		<ul class="section second">
			<li class="link"><%= link_to 'Areas Covered', plus_inprogress_index_path, :class => "text"%></li>		
		</ul>
		<ul class="section third">
			<li class="link"><%= link_to 'Contact Us',       plus_inprogress_index_path, :class => "text"%></li>		
			<li class="link"><%= link_to 'Feedback Form',       plus_inprogress_index_path, :class => "text"%></li>
		</ul>
		<ul class="section forth">	
			<li class="link"><%= link_to 'Price Terms',       plus_inprogress_index_path, :class => "text"%></li>
			<li class="link"><%= link_to 'Terms & Conditions',       plus_inprogress_index_path, :class => "text"%></li>
		</ul>
	</div>
	</div>
	<div class="visible-phone">
	<div class="row first">
		<ul class="section" style="border-right:0;">
			<li class="link"><%= link_to 'About Us',       plus_inprogress_index_path, :class => "text"%></li>
			<li class="link"><%= link_to 'Areas Covered', plus_inprogress_index_path, :class => "text"%></li>
			<li class="link"><%= link_to 'Price Terms',       plus_inprogress_index_path, :class => "text"%></li>
			<li class="link"><%= link_to 'Terms & Conditions',       plus_inprogress_index_path, :class => "text"%></li>
		</ul>
	</div>
	</div>
	<!--<p style="text-align:right;margin-right:2em;">Powered by <%= link_to site_name+" Pvt. Ltd.", root_url %></p-->

</div>	



