<div id="footer" class="footer" >
	<hr>
	<div class="visible-desktop visible-tablet">
	<div class="row first">
		<ul class="section first">
			<% if @info_url.present? %>
			<li class="link"><%= link_to 'Home',      root_path, :class => "text"%></li>
			<% end %>
			<li class="link"><%= link_to 'About Us',      about_us_path, :class => "text"%></li>				
		</ul>
		<ul class="section second">
			<li class="link"><%= link_to 'Areas Covered', plus_inprogress_index_path, :class => "text"%></li>
			<li class="link"><%= link_to 'Pricing',       prices_path, :class => "text"%></li>		
		</ul>
		<ul class="section third">
			<li class="link"><%= link_to 'Contact Us',       plus_inprogress_index_path, :class => "text"%></li>		
			<li class="link"><%= link_to 'Feedback',       plus_inprogress_index_path, :class => "text"%></li>
		</ul>
		<ul class="section forth">	
			<li class="link"><%= link_to 'Terms & Conditions',       terms_and_conditions_path, :class => "text"%></li>
			<li class="link"><%= link_to 'Privacy Policies',       privacy_policy_index_path, :class => "text"%></li>
		
		</ul>
		
		<div class="fb-like" data-href="https://www.facebook.com/pages/Evertask/550278421709253" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
	  
	  </div>
	</div>
	<div class="visible-phone">
	<div class="row first">
		<ul class="section" style="border-right:0;">
			<li class="link"><%= link_to 'About Us',       plus_inprogress_index_path, :class => "text"%></li>
			<li class="link"><%= link_to 'Areas Covered', plus_inprogress_index_path, :class => "text"%></li>
			<li class="link"><%= link_to 'Pricing',       plus_inprogress_index_path, :class => "text"%></li>
		</ul>
	</div>
	</div>
	<!--<p style="text-align:right;margin-right:2em;">Powered by <%= link_to site_name+" Pvt. Ltd.", root_url %></p-->

</div>	



