<div id="footer" class="footer" >
	<hr>
	<div class="row first">
		<ul class="section first">
			<li class="link"><%= link_to 'Home',       root_path, :class => "text"%></li>		
		</ul>
		<ul class="section second">
			<li class="link"><%= link_to 'About Us',       root_path, :class => "text"%></li>	
			<li class="link"><%= link_to 'Price Terms',       root_path, :class => "text"%></li>
			<li class="link"><%= link_to 'Terms & Conditions',       root_path, :class => "text"%></li>
			<li class="link"><%= link_to 'Contact Us',       root_path, :class => "text"%></li>		
		</ul>
	</div>
</div>	



