<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Voucher:</strong>
  <%= @order.voucher_id %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @order.payment_id %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order.discount %>
</p>

<p>
  <strong>Discount message:</strong>
  <%= @order.discount_message %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @order.appointment_date %>
</p>

<p>
  <strong>Duration inhrs:</strong>
  <%= @order.duration_inHrs %>
</p>

<p>
  <strong>Active:</strong>
  <%= @order.active %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
