<p id="notice"><%= notice %></p>

<% total_value = 0 %>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Value</th>
      <th>Total</th>
    </tr>
  </thead>


  <tbody>
    <% @order.order_to_products.each do |order_to_product| %>
      <tr>
      	<% @order2product = order_to_product %>
        <td><%= @order2product.product.name %></td>
        <td><%= @order2product.price %></td>  
        <td><%= order_to_product.quantity %></td>
        <td><%= @order2product.price * order_to_product.quantity %></td>
        <% total_value += (@order2product.price * order_to_product.quantity) %>
        
        </tr>
    <% end %>
    <tr>
    	<td></td>
    	<td></td>
    	<td>Total</td>
    	<td><%= total_value%></td>
   	</tr>
  </tbody>
</table>


