<!-- Google Code for Sales Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 991103063;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "gLj9CIGrkwgQ15DM2AM";
var google_conversion_value = 10;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/991103063/?value=10&amp;label=gLj9CIGrkwgQ15DM2AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<div class="order-page center">
<div class="span1"></div>
<div class="span3"><h4>Appointment Details</h4></div>

<table>
 <tbody>
 	 <tr>
    	<td class="span2" style="text-align:right;">Order Number : </td>
		<td class="span3"><%= @order.display_id %></td>
 	</tr>
 	<tr>
 	    <td class="span2" style="text-align:right;">Appointment Date : </td>
		<td class="span3"><%= @order.appointment_time  %></td>
 	</tr>
 	 <tr>
 	    <td class="span2" style="text-align:right; vertical-align: top;">Address : </td>
 	    <% if @order.address %>
			<td class="span3">
				<%= @order.address.name %><br><%= @order.address.address %><br><%= @order.address.city %>, <%= @order.address.pin %></td>
		<% end %>
 	</tr>
  	<tr>
 	    <td class="span2" style="text-align:right;">Contact Number : </td>
 	    <% if @order.address %>
			<td class="span3"><%= @order.address.phone %></td>
		<% end %>
 	</tr>
 	 <tr>
 	    <td class="span2" style="text-align:right;">Additional Information : </td>
		<td class="span3"><%= @order.additional_info %></td>
 	</tr>

 </tbody>
</table>

<br>
<br>

<% total_value = 0 %>

<div class="span1"></div>
<div class="order-cart center span10">
<table class="table table-hover" >
  <thead>
    <tr>
      <th>Product</th>
      <th class="hidden-phone">Price</th>
      <th class="hidden-phone">Home Service</th>
      <th>Value</th>
      <th>Total</th>
      <th>Workman Name</th>
      <th>Workman Number</th>     
    </tr>
  </thead>


  <tbody>
    <% @order.order_to_products.each do |order_to_product| %>
      <tr>
      	<% @order2product = order_to_product %>
        <td><%= @order2product.product.name %></td>
        <td class="hidden-phone"><%= @order2product.price %></td>  
         <td class="hidden-phone"><%= @order2product.include_service == false ? "NO" : "YES" %></td> 
        <td><%= order_to_product.quantity %></td>
        <td><%= @order2product.price * order_to_product.quantity %></td>
        <td><%= @order2product.store.contact_name unless !@order2product.store %></td>
        <td><%= @order2product.store.contact_no unless !@order2product.store %></td>
        <% total_value += (@order2product.price * order_to_product.quantity) %>
        
        </tr>
    <% end %>
    <tr>
    	<td></td>
    	<td class="hidden-phone"></td>
    	<td class="hidden-phone"></td>
    	<td>Total</td>
    	<td><%= total_value %></td>
    	<td></td>
    	<td></td>
   	</tr>
  </tbody>
</table>
</div>

</div>


