<%= form_for @voucher, :url  => admin_deals_voucher_path(@voucher),
				:html => {:class => 'prepend-6'} do |f| %>
  <% if @voucher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voucher.errors.count, "error") %> prohibited this voucher from being saved:</h2>

      <ul>
      <% @voucher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :customer_group_id %><br>
    <%= f.text_area :customer_group_id %>
  </div>
  <div class="field">
    <%= f.label :type_name %><br>
    <%= f.text_area :type_name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :validity_till %><br>
    <%= f.date_select :validity_till %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
   <div class="actions">
    <%= submit_tag "Update/Create",
                        :name => nil, :class => 'button small blue-button' %>
  </div>
<% end %>
