<%= form_for @customer, :url  => admin_customers_customer_path(@customer), :method => 'get', :url => { :action => "add_customer_info" },
				:html => {:class => 'prepend-6'} do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <label>Contact No</label>
    <%= text_field_tag :contact_no, params[:contact_no] %>
    
    <label>Add line1</label>
    <%= text_field_tag :add_line1, params[:add_line1] %>
    
    <label>Add line2</label>
    <%= text_field_tag :add_line2, params[:add_line2] %>
    
    <label>City</label>
    <%= text_field_tag :city, params[:city] %>
    
    <label>Pin</label>
    <%= text_field_tag :pin, params[:pin] %>  

    <label>Customer Group Id</label>
    <%= text_field_tag :customer_group_id, params[:customer_group_id] %>

    <label>Customer Lead Id</label>
    <%= text_field_tag :customer_lead_id, params[:customer_lead_id] %>
    
    <div style='text-align:left'>
        <%= submit_tag "Add Customer Info", :name => nil, :class => "button small blue-button" %>
    </div>

<% end %>
