 	<tr>
      	<td><%= link_to customer.id,  admin_customers_customer_path(customer)  %></td>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.provider %></td>
        
        <% if defined? customer_group_page %>
        	<td><%= link_to 'Detach', :controller => admin_customers_customers_path, :id => customer.id, :action => "update_customer_group_id", :customer_group_id => 0, :method => :put %></td>
        <% elsif defined? customer_lead_page %>
        	<td><%= link_to 'Detach', :controller => admin_customers_customers_path, :id => customer.id, :action => "update_customer_lead_id", :customer_lead_id => 0, :method => :put %></td>
        <% end %>
      </tr>