 <script type="text/javascript" charset="utf-8">
      $(function() {
      	// alert("called here")
        $("#addcustomerinfo").click(function() {
          $("#myModal").modal();
          $("#modal-body").html("<%=escape_javascript(render partial:"/admin/customers/customers/customer_info_form")%>");
          return false;
        });
        $("#createorder").click(function() {
          $("#myModal").modal();
          $("#modal-body").html("<%=escape_javascript(render partial:"/admin/customers/customers/create_order_form")%>");
          return false;
        });
        $("#updatecustomerinfo").click(function() {
          $("#myModal").modal();
          $("#modal-body").html("<%=escape_javascript(render partial:"/admin/customers/customers/update_customer_info")%>");
          return false;
        });
      })
    </script>
    
 <h4 style='text-align:center'>Customer Information</h4>
 <table>
	<%= render 'admin/customers/customers/table_header' %>
	<tbody>
      <%= render :partial => 'admin/customers/customers/customer', :collection => @customers %>
	</tbody>
</table>

<%= link_to 'Update Customer Info', "#", :remote => true, :class => 'button small blue-button', :id => "updatecustomerinfo" %>


<% if @customer.orders.size > 0 %>
<h5 style='text-align:right'>Listing Orders</h5>
<table>
	<%= render 'admin/fulfillments/orders/table_header', :locals => { :customer_page_id => 'yes' }  %>
	<tbody>
      <%= render :partial => 'admin/fulfillments/orders/order', :collection => @customer.orders , :locals => { :customer_page_id => 'yes' } %>
	</tbody>
</table>
<% end %>



<% if @add_products_checklist %>
	<h5 style='text-align:left'>Update Products</h5>
	<%= form_for @customer, :url  => admin_customers_customer_path(@customer), :url => { :action => "add_products2checklist" },
				:html => {:class => 'prepend-6', :method => "put"} do |f| %>
				
	<%= render :partial => 'admin/select', :locals => { :add_products2checklist => 'yes' }  %>	
	<%= submit_tag "Confirm Update",
                        :name => nil, :class => 'button small blue-button', :method =>  "add_products2checklist" %>
                        
	<% end %>
<% else %>
	<% if @customer.cart_items.size > 0 %>
	<h5 style='text-align:right'>Cart Items</h5>
	<% @cart_items = @customer.cart_items %>
	<%= render :template => 'cart_items/index'  %>
	<% @address = Address.new %>
	<%= link_to 'Place an Order', "#", :remote => true, :class => 'button small blue-button', :id => "createorder" %>

	<% end %>
	<br>
	<%= link_to 'Add to List',:url =>  admin_customers_customers_path, :id => @customer.id, :add_products_checklist => "yes", :action => "show", :method => "get", :class => 'button small blue-button' %>
	
<% end %>


<% if @customer.customer_group %>
<h5 style='text-align:right'>Customer Group Details</h5>
<table>
	<%= render :partial => 'admin/customers/customer_groups/table_header' , :locals => { :customer_page_id => @customer.id } %>
	<tbody>
	
      <%= render :partial => 'admin/customers/customer_groups/customer_group', :object => @customer.customer_group , :locals => { :customer_page_id =>  @customer.id }%>	
	</tbody>
</table>

<h5 style='text-align:right'>Eligible Vouchers</h5>
<table>
	<%= render :partial => 'admin/deals/vouchers/table_header' , :locals => { :customer_page_id => @customer.id } %>
	<tbody>
	
      <%= render :partial => 'admin/deals/vouchers/voucher', :collection => @customer.vouchers , :locals => { :customer_page_id =>  @customer.id }%>	
	</tbody>
</table>
<% end %>	

<% if @customer.customer_lead %>
<h5 style='text-align:right'>Customer Lead Details</h5>
<table>
	<%= render :partial => 'admin/customers/customer_leads/table_header' , :locals => { :customer_page_id => @customer.id } %>
	<tbody>
	
      <%= render :partial => 'admin/customers/customer_leads/customer_lead', :object => @customer.customer_lead , :locals => { :customer_page_id =>  @customer.id }%>	
	</tbody>
</table>
<% end %>

<br>
<%= link_to 'Search Page', admin_customers_customers_url, :class => 'button small blue-button' %>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body" id="modal-body">	
  </div>
  <div class="modal-footer">	
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> 
  </div>
</div>
