<% if @cart_items.size >0 %>
<table class="cart-items-list-popup table table-hover">

	<thead>
		<tr>
			<th>Task Name</th>
			<th>Type</th>
			<th>Min. Price</th>
			<th>Quantity</th>
			<th>Total</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @cart_items.each do |cart_item| %>
		<tr>
			<td class="span2"><%= cart_item.product.name%></td>
			<% @temp_product = cart_item.product %>
			<td class="span2"><%= cart_item.product_variant.value%></td>
			<td class="span2" align="center"><%= (cart_item.price  > 0)? cart_item.price : "On Site" %></td>
			<td class="span2" align="center"> <%= form_for(cart_item, remote:true) do |f| %><%= f.text_field :quantity, class: "cart-items-quanitity span8 center"%><% end %></td>
			<td class="span2" align="center"><del>&#2352;</del>  <%= cart_item.total_price %></td>
			<td class="span2" align="center"><%= link_to raw('<i class="icon-remove"></i>'), cart_item, url: cart_items_path(cart_item), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
	<tr >
		<td></td>
		<td></td>
		<td></td>
		<td><strong>Total</strong></td>
		<td class="total_cell" ><strong><del>&#2352;</del> 	<%= @cart_items.to_a.sum(&:total_price) %></strong></td>
		<td></td>
	</tr>
</table>
<%else%>
	<p class="center">Empty List. Visit Product page to select your products</p>
<%end%>

