<%= form_for @customer_group, :url  => admin_customers_customer_group_path(@customer_group),
				:html => {:class => 'prepend-6'} do |f| %>
  <% if @customer_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_group.errors.count, "error") %> prohibited this customer_group from being saved:</h2>

      <ul>
      <% @customer_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :permission_level %><br>
    <%= f.number_field :permission_level %>
  </div>
  
  <div class="actions">
    <%= submit_tag "Update/Create",
                        :name => nil, :class => 'button blue-button' %>
  </div>
                        
<% end %>
