<h4 style='text-align:center'>Customer lead Information</h4>
<table>
	<%= render 'admin/customers/customer_leads/table_header' %>
	<tbody>
      <%= render :partial => 'admin/customers/customer_leads/customer_lead', :object => @customer_lead %>
	</tbody>
</table>
 
<h5 style='text-align:right'>Listing Customers</h5>
<table>
	<%= render :partial => 'admin/customers/customers/table_header', :locals => { :customer_lead_page => 'yes' }  %>
	<tbody>
      <%= render :partial => 'admin/customers/customers/customer', :locals => { :customer_lead_page => 'yes' }, :collection => @customer_lead.customer_managements.all %>
	</tbody>
</table>

<%= link_to 'Search Page', admin_customers_customer_leads_url, :class => 'button small blue-button' %>

