<p id="notice"><%= notice %></p>

<p>
  <strong>Type name:</strong>
  <%= @customer_lead.type_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer_lead.description %>
</p>

<%= link_to 'Edit', edit_customer_lead_path(@customer_lead) %> |
<%= link_to 'Back', customer_leads_path %>
