
 	<div class="dna-message">
 		<h4 class="visible-tablet visible-desktop center">ALL YOUR REPAIR WORKS DONE WITHOUT STEPPING OUT OF YOUR HOME</h4>    		  	
    		  
 		<h5 class="visible-phone center">ALL YOUR REPAIR WORK DONE WITHOUT STEPPING OUT!!</h5>	
		
 	</div>
			
 	<div class="first-split container-fluid">
 	  <div class="border-line  span12">
		<div class="visible-phone center">
			<div class="how_it_works">
    				<h5 class="call-now-message center">Book Now with a single Call</h5>
    				
    				<div class="call-now center">
    					
    					<h4 class="cell-number"><%= link_to contact_number, "tel:"+contact_number %></h4>
    					<h6>Mr. Fixer is Just a Call Away</h6>
    				</div>
    			
    				
    			</div>
    		 
    	</div>
		<div class="first-split-submenu span3">
 		<% if @categories.size > 0 %>
 		<div class="bs-docs-sidebar">
 			<%= render :partial => 'shared/items_sidebar' %>
    	</div>
    	
    	<% end %>
    	
    	
    	</div>
    	
    	
    	<div class="content-block">
    		<div class="middle-block span5">
    		
    		 <div class="warranty-message">
    		 	<div class="visible-desktop visible-tablet">
    		 		
    		 	</div>
  				<h5 class="color1 center visible-phone">Service Warranty on all Our Tasks…</h5>	
    			<h4 class="color1 center visible-desktop visible-tablet">Service Warranty on all Our Tasks…</h4> 
    		</div> 
    		</div>
    		<div class="right-block span4">
    			<div class="how_it_works visible-desktop visible-tablet">
    				<h5 class="call-now-message center">Book Now with a single Call</h5>
    				
    				<div class="call-now center">
    					
    					<h4 class="cell-number"><%= link_to contact_number, "tel:"+contact_number %></h4>
    					<h6>Mr. Fixer is Just a Call Away</h6>
    				</div>
    			
    				
    			</div>
    			<div class="right-block-logo span4">
    				<p class="center" style="color:#21B6A8;">Available For</p>
    				<div class="logo-images span4 center">
    					<% Category.all.each do |temp| %>
    						<% if temp.image && temp.image != ""%>
    						<%= link_to(category_path(temp)) do %>
    							<%= image_tag(temp.image)%>
    						<% end %>
    						<% end %>
    					<% end %>
    				</div>
    				
    			</div>
    		</div>
    	</div> 
      </div>  	
 	</div>
 	
 	<div class="second-split container span12">
 		<div class="message-box">
 			<div class="value-message visible-desktop  visible-tablet span3">
 				<div class="value-message-text">
 					<h3>Our Guarantee</h3>
 					<ul style="list-style-type:disc;">
 					<li>On Time Service</li> 
 					<li>Reliable work force</li>
 					<li>Reasonable Prices</li>
 					</ul>
 				</div>
 			</div> 
 			<div class="middle-block  visible-desktop visible-tablet center span4">
 				<h3 class="center">Ever at hand</h3>
 				<h5 class="center">for all your tasks</h5>

 			</div>
 			
 			<div class="request-block">
 					<h5 class="center span5">Request a Callback</h5>
    				<%= render 'order_requests/welcome_page' %>
    		</div>			
 		</div>
	</div>
 	
 	
    

