
 	
			
 	<div class="first-split container-fluid span12">
 		<div class="second-block visible-desktop">
    		<div class="span11"></div>
   			<div class="tick-logo ">
    			<div class="span1"><%= image_tag("green-tick.jpg")%></div>
  			</div>
		</div>
		<h5 class="visible-phone">One Place Solution for All Your Tasks. </h5>	
		<div class="first-split-submenu span3">
 		<% if @categories.size > 0 %>
 		<div class="bs-docs-sidebar">
    		<%= render :partial => 'shared/items_sidebar' %>
    	</div>
    	<% end %>
    	</div>
    	
    	
    	<div class="content-block">
    		<div class="first-block span9">
    		  <div class="message-block">	
    		  	<h3 class="visible-tablet visible-desktop">One Place Solution for All Your Tasks. </h3>
    		  	
    		  	<p class="visible-desktop" style="text-align:left;">
				A safe, reliable Work Force.
				<span style="float:right;">100% Satisfaction Guaranteed.</span>
				</p>
    		  </div>  
    		  <div class="span1"></div>
    		  <div class="warranty-message span8">
    		  	<h5 class="color1 visible-phone">Six Months  <span class="color2">Service Warranty on </span> ALL TASKS</h5>
				<div class="logo-images span8">
					<%= image_tag("computer.jpg")%>
    		  		<%= image_tag("phone.png")%>  		  		
    				<%= image_tag("tap-1.png")%>   			
    				<%= image_tag("hammer-1.png")%>
    				<%= image_tag("refurb-1.png")%>
    				<%= image_tag("plug-1.png")%>
    			</div>
    			<h4 class="color1 visible-desktop visible-tablet">Six Months  <span class="color2">Service Warranty on </span> ALL TASKS</h4>
    			
    		</div> 
    		  		
    		</div>
    		
    	</div>   	
 	</div>
 	
 	<div class="second-split container span12">
 		<div class="message-box">
 			<div class="thumbs-up-logo visible-desktop span2">
 				<%= image_tag("thumbs-up.png")%>	
 			</div>
 			<div class="span8 visible-desktop" style="min-height:2em;"></div>
 			<div class="span12 visible-tablet" style="min-height:2em;"></div>
 			<div class="value-message visible-desktop  visible-tablet span4">
 				<h3>Our Value & Promise</h3>
 				<p>On Time Service</p> 
 				<p>Reasonable Prices</p>
 				<p>We stand for Our Quality of Work</p>
 			</div> 
 			
 			<div class="request-block">
    				<%= render 'order_requests/welcome_page' %>
    		</div>			
 		</div>
	</div>
 	
 	
    

