
 	
 	<div class="first-split container span12">
		<div class="first-split-submenu span3">
 		<% if @categories.size > 0 %>
 		<div class="bs-docs-sidebar">
    		<%= render :partial => 'shared/items_sidebar' %>
    	</div>
    	<% end %>
    	</div>
    	
    	
    	<div class="content-block">
    		<div class="first-block span8">
    		  <div class="message-block ">	
    		  	<h2>One Place Solution for All Your Tasks. </h2>
    		  	<p style="text-align:left;">
				A safe, reliable Work Force.
				<span style="float:right;">100% Satisfaction Guaranteed.</span>
				</p>

	
    		  </div>   		
    		</div>
    		<div class="second-block span1">
    			<div class="span1"></div>
    			<div class="tick-logo">
    				<div class="span1"><%= image_tag("green-tick.jpg")%></div>
    			</div>
			</div>
		   <div class="down-block span12">
			<div class="warranty-message span5">
				<div class="logo-images span5">
    		  		<%= image_tag("phone.png", :class => "span1")%>
    				<%= image_tag("tap-1.png", :class => "span1")%>   			
    				<%= image_tag("hammer-1.png", :class => "span1")%>
    				<%= image_tag("refurb-1.png", :class => "span1")%>
    				<%= image_tag("plug-1.png", :class => "span1")%>
    			</div>
    			<h4 class="color1">Six Months  <span class="color2">Service Warranty on </span> ALL TASKS</h4>
    		</div>
    			
    		<div class="request-block offset6">
    				<%= render 'order_requests/welcome_page' %>
    		</div>
    	  </div>
    	</div>   	
 	</div>
 	
 	<div class="second-split container span12">
 		<div class="message-box">
 			<div class="thumbs-up-logo span3">
 				<%= image_tag("thumbs-up.png")%>	
 			</div>
 			<div class="value-message span8">
 				<h4>Our Value & Promise</h4>
 				<p></p>
 			</div> 			
 		</div>
	</div>
 	
 	
    

