<li class="active"><%#=  link_to site_name, :root %></li>
<li class="has-dropdown">
  <%= link_to 'Fulfillments', admin_fulfillments_orders_path %>
  <ul class="dropdown">
    <li><%= link_to 'Orders', admin_fulfillments_orders_path %></li>
  </ul>
</li>
<li class="has-dropdown">
  <%= link_to 'Merchandise', admin_merchandise_products_path %>
  <ul class="dropdown">
    <li><%= link_to 'Products', admin_merchandise_products_path %></li>
    <li><%= link_to 'Categories', admin_merchandise_categories_path %></li>
  </ul>
</li>
<li class="has-dropdown">
  <%= link_to "Customers", admin_customers_customers_path %>
  <ul class="dropdown">
    <li><%= link_to 'Customers',      admin_customers_customers_path %></li>
    <li><%= link_to 'Customer Groups',admin_customers_customer_groups_path %></li>
    <li><%= link_to 'Customer Leads', admin_customers_customer_leads_path %></li>
  </ul>
</li>
<li class="has-dropdown">
  <%= link_to "Partners", admin_partners_stores_path %>
  <ul class="dropdown">
    <li><%= link_to 'Stores',      admin_partners_stores_path %></li>
  </ul>
</li>
<!% if current_user.super_admin? %>
  <li class="has-dropdown">
    <%= link_to "Config", admin_merchandise_products_path %>
    <ul class="dropdown">
      <li><%= link_to 'Accounts',           plus_inprogress_index_path %></li>
      <li><%= link_to 'Import/Export CSV',           admin_dbupload_index_path %></li>
    </ul>
  </li>
<!% end %>
<li class="has-dropdown">
  <%= link_to "Coupons/Deals", admin_deals_vouchers_path %>
  <ul class="dropdown">
    <li><%= link_to 'Vouchers', admin_deals_vouchers_path %></li>
  </ul>
</li>
<li class="has-dropdown">
  <%= link_to "History", admin_history_sales_path %>
  <ul class="dropdown">
    <li><%= link_to 'Order Log', admin_history_sales_path %></li>
    <li><%= link_to "Activity Log", admin_history_activity_logs_path %></li>
    <li><%= link_to 'Help', admin_help_path %></li>
  </ul>
</li>
<!% unless recent_admin_users.empty? %>
  <li class="has-dropdown">
    <%= link_to "Recent", '#' %>
    <ul class="dropdown">
      <!% recent_admin_users.each do |recent_user_email, recent_user_id| %>
      <li><!%= link_to recent_user_email, admin_user_path(recent_user_id) %></li>
      <!% end %>
    </ul>
  </li>
<!% end %>
