<script type="text/javascript">

</script>

<div class="row-fluid">
	<div class="span2"></div>
	<div class="span10">
		
		<ul class="thumbnails">
			<% @products.each do |product| %>
			<li >				
				<div class="thumbnail">
					
					<div class="center">
					<%= link_to image_tag(product.image,:height => "200px", :width => "200px" ),product_path(product)%>					
					</div>
					<div class="caption">
						<%= simple_format(product.name,:class=>:name)%>
						<%= simple_format("<del>&#2352;</del> #{product.price}",:class =>:pricehilit)%>
					</div>
				
					<div class="product-info">
						<% @item = product %>
						<% if @item.product_variants.size > 0 %>
							<b>Sizes:</b>
							<ul class="size-buttons">
								<% @item.product_variants.each do |variant| %>
									<li id= <%="#{variant.id}"%> ><%= variant.value %></li>
								<%end%>
								
							</ul>
							
						<% end %>
											
						<%=form_for(:cart_item,url: cart_items_path, :action => :create) do |f|%>
						<b>Quantity:</b>
						<div class="center form-horizontal">
							<%= f.text_field :quantity, :class=>"span6"%>
							<%= hidden_field_tag :product_id, product.id%>
							<%= f.submit "Quick Add", {class: "btn btn-info", id:"addcart"}%>
						</div>
						<%end%>
					</div>
				</div>
			</li>
			<%end%>								
		</ul>
	</div>

</div>

