<div class="product-list-page row-fluid">
	<div class="span12">
		<% if @category %>
			<h4 class="center"> <%= @category.name %> </h4> 
		<% end %>
	</div>
	<div class="first_split span3">
	<% if !@category %>
		<div class="category-submenu span3" style="margin-left:0;">		
		<% if @categories.size > 0 %>
 			<div class="bs-docs-sidebar">
    			<%= render :partial => 'shared/items_sidebar' %>
    		</div>
    	<% end %>    
		</div>
	<% end %>
	<% if @show_request == true  %>
		<%= render :template => 'order_requests/new' %>
	<% end %>
	
		<p class="center" style="color:#21B6A8;">Available For</p>
    	<div class="logo-images span5 center">
    	<% Category.all.each do |temp| %>
    		<% if temp.image && temp.image != ""%>
    			<%= link_to(category_path(temp)) do %>
    				<%= image_tag(temp.image)%>
    			<% end %>
    		<% end %>
    	<% end %>
    	</div>
	
	</div>
	<div class="products-list span9">	
		<% if @products.size < 1 %>
			<h5 class="offset4" style="margin-top:3em;"> No Tasks to list </h5>  
		<% end %>
		
		<ul class="thumbnails">
			<% @products.each do |product| %>
			<% if !@category %>
			  <% if product.categories.size > 0 %>
			  	<% @category = product.categories.first %>
			  <% end %>	
			<% end %>
			<% if @category %>
			
			<li class="product-each span3 thumbnail">				
				
				<%= link_to(category_product_path(@category,product)) do %>		
					<div class="center">
					<%= image_tag(product.image,:class => "product-image" ) %>					
					</div>
					<div class="caption">
						<%= simple_format(product.name,:class=>:name)%>
						<% @item = product %>
						<% if @item.product_variants.first.price.to_i > 0  || @item.nature != ProductNature(:TASK)%>
							<%= simple_format("<del>&#2352;</del> #{@item.product_variants.first.price}",:class =>:pricehilit)%>
						<% else %>
							<p class="pricehilit">On Site</p>
						<% end %>
					</div>
				<% end %>			
					<div class="product-info">
						<%=form_for(:cart_item,url: cart_items_path, :action => :create) do |f|%>
			
							<% if @item.product_variants.size > 1 %>
							<div class="product-size">
							<tr>
								<td class="span1"><b><%= @item.variant_name ? @item.variant_name : "Sizes" %>:</b></td>
								<td class="span2 center form-horizontal">								
									<%= select_tag "cart_item[product_id]", options_from_collection_for_select(@item.product_variants.order("brand  asc"), "id", "display_name") %>
								</td>
							</tr>
							</div>
							<% else %>
								<%= hidden_field_tag "cart_item[product_id]", @item.product_variants.first.id%>			
							<% end %>
						
							<div class="product-quantity center form-horizontal">
								<%=form_for(:cart_item,url: cart_items_path, :action => :create) do |f|%>				
									<%= f.submit "Quick Add", {class: "btn btn-info", id:"addcart"}%>
								<% end %>
							</div>
						<%end%>
					</div>
				
			</li>
			<% end %>
			<%end%>								
		</ul>
		<%= will_paginate @products %>
	</div>
</div>

