<script type="text/javascript" charset="utf-8">
	$(function() {
		 $('#with_service').hide();
		$("#productaddcart").bind("ajax:complete", function() {

			$("#myModal").modal();
			return false;
		});
		$('#include_service').change(function() {
			$('#with_service').toggle();
			$('#without_service').toggle();
		});

	}); 
</script>

<% content_for :metadata do %>
<meta name="keywords"     content="<%= @category.meta_keywords %>">
<meta name="description"  content="<%= @category.meta_description %>">
<% end %>

<div class="product-show row-fluid container">
	<div class="product-show-inner container-fluid">
		<div class="product-info">
			<div class="product-image span4 center center-vertical">
				<%= image_tag(@product.image)%>
			</div>

			<div class="product-details span7">
				<h4><%= @product.name%></h4>
				<hr style="margin:0">
				<table>
					<tbody>
						<tr>
							<td class=" product-details-value span6"> <%= simple_format(@product.description) %> </td>
						</tr>
						
						<tr>							
							<td class=" product-details-value span6">Home service Available only in <%= I18n.t(:service_available_at) %>. Spares/Tools are delievered to <span style="color:blue">Any where in India.</div></td>	
						</tr>

						<%=form_for(:cart_item,url: cart_items_path, remote:true, :html => {id: "productaddcart"}) do |f|%>

						<% if @product.nature == ProductNature(:TOOLnTASK) %>

							<% if is_home_service_available %>
							<tr>
								<td class="product-details-value span4"> <%= check_box_tag 'include_service' %>  Include Home Service </td>
							</tr>
							<% end %>

						  <tr>
							<td class="product-details-value span6">
							<div id="without_service">
								<% if @served_product_variants.size > 1 %>
										<b><%= @product.variant_matric ? @product.variant_matric : "Model" %>:</b> 
										<%= select_tag "cart_item[product_id]", options_from_collection_for_select(@served_product_variants.order("id  asc"), "id", "display_name"), :class => "dropdown-toggle" %> 
								<% else %>
								<p>
									
									<% if @served_product_variants.size == 0 %>
								 		Product is not served in <%= current_location %>	
									<% elsif @served_product_variants.first.price.to_i > 0 %>
									<FONT SIZE="3.5em;"><del>&#2352;</del></FONT SIZE></FONT> <%= @served_product_variants.first.price%>
									<%= f.hidden_field :product_id, value:@served_product_variants.first.id%>
									<% else %>
									Price - Upon Inspection
									<%= f.hidden_field :product_id, value:@served_product_variants.first.id%>
									<% end %>
									
								</p>
								<% end %>
								</div>

								<div id="with_service">
									<% if @served_product_variants.size > 1 %>
										<b><%= @product.variant_matric ? @product.variant_matric : "Model" %>:</b> 
										<%= select_tag "product_id_with_service", options_from_collection_for_select(@served_product_variants.order("id  asc"), "id", "display_name_with_service"), :class => "dropdown-toggle" %> 		
									<% else %>
									<p>
										<% if @served_product_variants.size == 0 %>
								 			Product is not served in <%= current_location %>	
										<% elsif @served_product_variants.first.price.to_i > 0 %>
										<FONT SIZE="3.5em;"><del>&#2352;</del></FONT SIZE></FONT> <%= @served_product_variants.first.price %> + 
												Service Cost: <FONT SIZE="3.5em;"><del>&#2352;</del></FONT SIZE></FONT> <%= (@served_product_variants.first.service_price.to_i > 0) ? @product.product_variants.first.service_price.to_s : "0" %>
											<%= f.hidden_field :product_id_with_service, value:@served_product_variants.first.id%>
										<% else %>
										Price - Upon Inspection
										<%= f.hidden_field :product_id_with_service, value:@served_product_variants.first.id%>
										<% end %>
										
									</p>
									<% end %>
								</div>
								

							</td>
						    </tr>

						<% elsif @served_product_variants.size > 1 %>
						<% if @product.nature == ProductNature(:TASKwBRAND) %>
						<tr>
							<td class="product-details-value span4"><b>Brand:</b> <%= select("listing_brand","id", @served_product_variants.select("brand").group(:brand).collect {|p| [ p.brand, p.brand ] }, { prompt: "Select a Brand" },class:"select optional dropdown-toggle")%> </td>
						</tr>

						<tr>
							<td class="product-details-value span6"> <% @served_product_variants.select("brand").group(:brand).each do |product_variant_group| %>
							<div style="display: none;" data-show-for=<%= product_variant_group.brand%>>
								<b><%= @product.variant_matric ? @product.variant_matric : "Sizes" %>:</b>
								<%= select_tag "cart_item[product_id]", options_from_collection_for_select(@served_product_variants.where(:brand => product_variant_group.brand), "id", "display_name"), :class => "dropdown-toggle" %>
							</div> <%end%> </td>
						</tr>
						<% else %>
						<tr>

							<td class="product-details-value span6"><b><%= @product.variant_matric ? @product.variant_matric : "Sizes" %>:</b> <%= select_tag "cart_item[product_id]", options_from_collection_for_select(@served_product_variants.order("id  asc"), "id", "display_name"), :class => "dropdown-toggle" %> </td>
						</tr>
						<% end %>

						<% else %>
						<tr>
							<td class="product-details-value span6">
							<p>
								<% if @served_product_variants.size == 0 %>
								 	Product is not served in <%= current_location %>	
								<% elsif @served_product_variants.first.price.to_i > 0 %>
								<FONT SIZE="3.5em;"><del>&#2352;</del></FONT SIZE></FONT> <%= @served_product_variants.first.price%>
								<%= f.hidden_field :product_id, value:@served_product_variants.first.id%> 
								<% else %>
								Price - Upon Inspection
								<%= f.hidden_field :product_id, value:@served_product_variants.first.id%> 
								<% end %>
							</p> 
							</td>
						</tr>
						<% end %>

						<tr>
							<td class="product-details-value span6">
							<div class="form-horizontal">
								<% if @served_product_variants.size > 0 %>
									<%= f.submit "Add to Cart", {class: "btn btn-info", id:"productaddcart"}%>
								<% end %>
							</div></td>
							
						</tr>
						<%end%>
					</tbody>
				</table>
			</div>
		</div>
		<!-- Button to trigger modal -->
		<!--a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>-->

		<% if @product.tools.size > 0 %>
		<h5 class="span12">Tools Needed</h5>
		<div class ="product-tools-bar span12">
			<ul class="product-tools">
				<% @product.tools.each do |tool| %>
				<%= link_to(category_product_path(@category,tool)) do %>
				<li class="product-tools-each span2">
					<ul class="product-tools-each-split">
						<li>
							<%= image_tag(tool.image) %>
						</li>
						<li class="product-info center-vertical center">
							<p class="text-align:center;">
								<%= tool.name%>
							</p>
							<%= simple_format("<del>&#2352;</del> #{tool.product_variants.first.price}")%>
							<% end %>
							<%=form_for(:cart_item,url: cart_items_path, :action => :create) do |f|%>
							<div class="product-show-quantity span6 center form-horizontal">
								<%= hidden_field_tag "cart_item[product_id]", tool.product_variants.first.id%>
								<%= f.text_field :quantity, :class=>"product-quanity-input product-show-quantity-input span4",:placeholder => "#"%>
								<%= f.submit "Add", {class: "product-quanity-input btn btn-info", id:"addcart"}%>
							</div>
							<%end%>
						</li>
					</ul>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="nextline-divider span12"></div>
		<% if @product.video  && @product.video != "" %>
		<h5 class="span12">Way to Fix</h5>
		<div class="center">
			<iframe class="product-video" src="http://www.youtube.com/embed/<%= @product.video %>"></iframe>
		</div>
		<% end %>

		<% if @product.how2fix &&  @product.how2fix != "" %>
		<h5 class="span12">Steps to Fix</h5>
		<div class ="product-how2fix-bar span11">
			<p style="text-align: justify;">
				<%= simple_format(@product.how2fix) %>
			</p>
		</div>
		<% end %>
		<%if signed_in?%>
			<%=form_for @review, :url => review_path do |f|%>
			Please enter your review: <%=f.text_field :content%>
			<%=f.hidden_field :user_id, :value => current_user.id%>
			<%= f.submit "Add your review",:class => "btn btn-info"%>
			<%end%>
		<%end%>
		<%if @product.reviews%>
		<table class="table-striped">
			<%@product.reviews.each do |product|%>
			<tr>
			<td class="span4"><%=current_user.name%> </td>
			<td class="span8"><%=product.content%></td>
			</tr>
			<%end%>
		</table>
	</div>
</div>
