<%= form_for @product, :url  => admin_merchandise_product_path(@product),
				:html => {:class => 'prepend-6'} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :nature %><br>
    <%= f.select(:nature,options_for_select([ProductNature(:TASK), ProductNature(:TOOL), ProductNature(:TASKnREADY),ProductNature(:TASKwBRAND)], @product? @product.nature : ProductNature(:TASKnREADY))) %>
  </div>
  <div class="field">
    <%= f.label :menu_parent %><br>
    <%= f.text_field :menu_parent %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :video %><br>
    <%= f.text_field :video %>
  </div>
  <div class="field">
    <%= f.label :variant_matric %><br>
    <%= f.text_field :variant_matric %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :how2fix %><br>
    <%= f.text_field :how2fix %>
  </div>
  <div class="field">
    <%= f.label :meta_description %><br>
    <%= f.text_area :meta_description %>
  </div>
  <div class="field">
    <%= f.label :meta_keyword %><br>
    <%= f.text_area :meta_keyword %>
  </div>								
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= submit_tag "Update/Create",
                        :name => nil, :class => 'button small blue-button' %>
  </div>                      
<% end %>
