	<tr>
      	<td><%= link_to product.id,  admin_merchandise_product_path(product.id) %></td>
        <td><%= product.name %></td>
        <td><%= product.nature %></td>
        <td><%= product.image %></td>
        <td><%= product.video %></td>
        <% if defined? store_page %>
        	<td><%= @store.store_to_products.find_by_store_id_and_product_id(@store.id, product.id).price %></td>
        <% end %>
        
        <% if defined? product_show %> 
        	<td><%= product.description %></td> 
            <td><%= product.variant_matric %></td>
        	<td><%= product.how2fix %></td>
        
        
       		<td><%= product.meta_description %></td>
        	<td><%= product.meta_keyword %></td>
        
        	<td><%= product.views %></td>
        <% end %>
        <td><%= product.active %></td>
        

        <% if defined? order_page %>
        	<% storeId = @order.order_to_products.find_by_order_id_and_product_id(@order.id, product.id).store_id  %>
        	<% if storeId %>
        		<td><%= link_to storeId,  admin_partners_store_path(storeId) %></td> 
        	<% else %>
        		<td></td> 
        	<% end %>     	
        <% elsif defined? select_page %>
        	<td><%= check_box_tag "select[]", product.id %></td>       	
        <% elsif defined? update_product4store_page %>
            <% @tempStroeProduct = @store.store_to_products.find_by_store_id_and_product_id(@store.id, product.id) %>
            <% @storePrice = (@tempStroeProduct? @tempStroeProduct.price: "") %>
    
        	<td><%=  text_field_tag "price[]", @storePrice  %></td>
        	<td><%= check_box_tag "select[]", product.id %></td>  
        	
        <% elsif defined? add_products2checklist %>
            <% @tempcartitem = @customer.cart_items.find_by(:product_id => product.id) %>
            <% if @tempcartitem && @tempcartitem.quantity %>
            	<% puts "1--------------1 #{@quantity}"%>
            	<% @quantity = @tempcartitem.quantity %>
            	<% puts "1--------------2 #{@quantity}"%>
            <% else %>
            	<% puts "2--------------1 #{@quantity}"%>
            	<% @quantity = 0 %>
            	<% puts "2--------------2 #{@quantity}"%>
            <% end %>
    		<td>
    			<% if product.product_variants.size > 1%>
    				<%= select_tag "cart_item[#{product.id}]", options_from_collection_for_select(product.product_variants.order("id  asc"), "id", "display_name"), :class => "dropdown-toggle" %>
				<% else %>
					default
					<%= hidden_field_tag "cart_item[#{product.id}]", product.product_variants.first.id%>
				<% end %>    		
    		</td>													
        	<td><%=  text_field_tag "quantity[#{product.id}]", @quantity  %></td>
        	<td><%= check_box_tag "select[]", product.id %></td>  	     	
        <% elsif defined? category_page %>
        		<td><%= link_to 'Detach', :controller => admin_merchandise_categories_path, :id => @category.id, :product_id => product.id, :action => "delete_product_map", :method => :put %></td>
 		<% elsif defined? store_page %>
        		<td><%= link_to 'Detach', :controller => admin_partners_stores_path, :id => @store.id, :product_id => product.id, :action => "delete_product_map", :method => :put %></td>				
        <% else %>
        	<td><%= product.menu_parent %></td>
        	<td><%= link_to 'Edit', edit_admin_merchandise_product_path(product) %></td>      		
        	<td><%= link_to (product.active)? 'Deactivate': 'Activate', :controller => admin_merchandise_products_path, :id => product.id, :action => "toggle_active", :method => :put %>	
 		<% end %>
 		
 		<% if defined? tools_display %>
 		<td><%= link_to 'DetachTool',{ :controller => admin_merchandise_products_path, :id => @product.id, :action => "delete_tool_map", :tool_id => product.id}%></td>
 		
 		<% end %>
 	</tr>