<% if @show_search == true  %>

<h4 style='text-align:right'>Search Filter</h4>

<div class="admin_filters">
    <%= form_tag admin_merchandise_products_path, :method => 'get', :id => "products_search" do %>
    
    <label>Id</label>
    <%= text_field_tag :id, params[:id] %>

    <label>Name</label>
    <%= text_field_tag :name, params[:name] %>

    <label>Description</label>
    <%= text_field_tag :description, params[:description] %>

    <label>Active</label>
    <%= check_box_tag :active, params[:active] %>
    
    <div style='text-align:left'>
        <%= submit_tag "Search", :name => nil, :class => "button small blue-button" %>
    </div>
    
    <% end %>
 </div>
 <% else %>
 	<div style="float: left"; >
		<%= link_to "Products Search", :url => admin_merchandise_products_path, :show_search => "yes", :action => "index", :method => "get" %>
	</div>
<% end %>

<h4 style='text-align:right'>Listing Products</h4>
<table>
	<%= render :partial =>'admin/merchandise/products/table_header', :locals => { :product_page => 'yes' }  %>
	<tbody>
      <%= render :partial => 'admin/merchandise/products/product', :collection => @products, :locals => { :product_page => 'yes' }  %>
	</tbody>
</table>
<%= will_paginate @products %>

<%= link_to 'New Product', new_admin_merchandise_product_path, :class => "button small blue-button" %>