<h4 style='text-align:center'>Product Information</h4>
<table>
	<%= render 'admin/merchandise/products/table_header' %>
	<tbody>
      <%= render :partial => 'admin/merchandise/products/product', :object => @product %>
	</tbody>
</table>

<% if @product.product_variants.size > 0 %>
<h5 style='text-align:right'>Listing Variants</h5>
<%= render :partial => 'admin/merchandise/products/product_variants' %>
<% end %>
<%=form_for(:product_variant, url: product_variants_path, :action => :create) do |f|%>
<%= f.number_field :value,  :placeholder => "Units"%>
<%= hidden_field_tag :product_id, @product.id %>
<%= f.submit "Add Variants", {class: "btn btn-info"}%>
<%end%>

<h5 style='text-align:right'>Listing Categories</h5>
<table>
	<%= render :partial => 'admin/merchandise/categories/table_header', :locals => { :product_detail_page => 'yes' } %>
	<tbody>
      <%= render :partial => 'admin/merchandise/categories/category', :collection => @product.categories.all , :locals => { :product_detail_page => 'yes' } %>
	</tbody>
</table>

<h5 style='text-align:right'>Stores Offer this product</h5>
<table>
	<%= render :partial => 'admin/partners/stores/table_header', :locals => { :product_detail_page => 'yes' } %>
	<tbody>
      <%= render :partial => 'admin/partners/stores/store', :collection => @product.stores.all , :locals => { :product_detail_page => 'yes' } %>
	</tbody>
</table>

<h5 style='text-align:right'>Active Orders</h5>
<table>
	<%= render :partial => 'admin/fulfillments/orders/table_header', :locals => { :product_detail_page => 'yes' } %>
	<tbody>
      <%= render :partial => 'admin/fulfillments/orders/order', :collection => @product.orders.all , :locals => { :product_detail_page => 'yes' } %>
	</tbody>
</table>

<%= link_to 'Search Page', admin_merchandise_products_url, :class => 'button small blue-button' %>


