<h4 style='text-align:center'>Product Information</h4>
<table>
	<%= render :partial => 'admin/merchandise/products/table_header', :locals => { :product_show => 'yes' } %>
	<tbody>
      <%= render :partial => 'admin/merchandise/products/product', :object => @product, :locals => { :product_show => 'yes' } %>
	</tbody>
</table>

<% if @show_products == true  %>
	<h5 style='text-align:left'>Select Products</h5>
	
	<%= form_tag(admin_merchandise_product_path(@product), :method => 'get', :class => 'navbar-search') do %>
			<div class="input-prepend input-append">																		
			<%=	select(@products,"id", Product.all.collect {|p| [ p.name, p.name ] }, { prompt:"All" },{class:"selectpicker span1", id: "cat",name:"select"})%>									
			<%= submit_tag "Link", :name => nil, :class => "btn btn-info" %>
			</div>
	<% end %>
<% else %>
	<%= link_to "Link Tools",  :class => 'button small blue-button', :url => admin_merchandise_product_path, :id => @product.id, :show_products => "yes", :action => "show", :method => "get" %>
<% end %>

<% if @product.tools.size > 0 %>
<h5 style='text-align:right'>Listing Tools</h5>
<table>
	<%= render :partial =>'admin/merchandise/products/table_header', :locals => { :product_page => 'yes', :tools_display => 'yes' }  %>
	<tbody>
      <%= render :partial => 'admin/merchandise/products/product', :collection => @product.tools, :locals => { :product_page => 'yes',  :tools_display => 'yes' }  %>
	</tbody>
</table>
<%= will_paginate @products %>
<% end %>

<% if @product.product_variants.size > 0 %>
<h5 style='text-align:right'>Listing Variants</h5>
<%= render :partial => 'admin/merchandise/product_variants/table' %>
<% end %>
<%=form_for(:product_variant, url: product_variants_path, :action => :create) do |f|%>
<%= f.number_field :value,  :placeholder => "Units"%>
<%= f.number_field :price,  :placeholder => "Price"%>
<%= hidden_field_tag :product_id, @product.id %>
<%= f.submit "Add Variants", {class: "btn btn-info"}%>
<%end%>

<h5 style='text-align:right'>Listing Categories</h5>
<table>
	<%= render :partial => 'admin/merchandise/categories/table_header', :locals => { :product_detail_page => 'yes' } %>
	<tbody>
      <%= render :partial => 'admin/merchandise/categories/category', :collection => @product.categories , :locals => { :product_detail_page => 'yes' } %>
	</tbody>
</table>

<h5 style='text-align:right'>Stores Offer this product</h5>
<table>
	<%= render :partial => 'admin/partners/stores/table_header', :locals => { :product_detail_page => 'yes' } %>
	<tbody>
      <%= render :partial => 'admin/partners/stores/store', :collection => @product.stores , :locals => { :product_detail_page => 'yes' } %>
	</tbody>
</table>

<h5 style='text-align:right'>Active Orders</h5>
<table>
	<%= render :partial => 'admin/fulfillments/orders/table_header', :locals => { :product_detail_page => 'yes' } %>
	<tbody>
      <%= render :partial => 'admin/fulfillments/orders/order', :collection => @product.orders , :locals => { :product_detail_page => 'yes' } %>
	</tbody>
</table>

<%= link_to 'Search Page', admin_merchandise_products_url, :class => 'button small blue-button' %>


