<header>
	<script>
   $(document).ready(function() {
   $('.selectpicker').selectpicker();
});
</script>
<script type="text/javascript" charset="utf-8">
		$(function() {
        $("#addcart").bind("ajax:complete",function() {	
          $("#myModal").modal();
          return false;
        })	
      })
</script>
	       
	<br>
	<div class="container">
		<ul class="inline">
			<li class="pull-left">
				100% Customer Satisfaction
			</li>
			<li class="pull-right">
				On Time On Demand Service
			</li>
			<br>
		</ul>
	</div>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
				<a class="brand" href="#"><%= site_name %></a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li>
							<%= form_tag products_path, :method => 'get', :id => "index", :class => 'navbar-search' do %>
								<div class="input-prepend input-append offset1">
																		
									<%=	select(@caties,"id", Category.all.collect {|p| [ p.name, p.id ] }, { prompt:"All" },{class:"selectpicker span1", id: "cat",name:"select"})%>									
									<%= text_field_tag :key, params[:key], :class => " span4 search-query" %>
									<%= submit_tag "Search", :name => nil, :class => "btn btn-info" %>
								</div>
							<% end %>
						</li>
						</ul>
						<ul class="nav pull-right">
							<li><%= link_to "Cart", carts_path, :remote => true, :method=>:get , :id => "addcart" %></li>

							<% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Hello <%= @user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Account", '#' %></li>
                <li><%= link_to "Orders", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", log_out_path%>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", sessions_path %></li>
          <% end %>	
          		</ul>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div><!-- /navbar -->
	</div>
	
</header>
