<!DOCTYPE html>
<html>
  <head>

  	<title>
  		<% if content_for?(:title) %>
    		<%= yield :title %>  
    	<% else %>
    		<%= title_default %>
    	<% end %>
  	</title>
      
    <%= stylesheet_link_tag "application", media: "screen", recursive: false,
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700italic" rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script type="text/javascript">
	$(document).ready(function($){
	
		$('#mega').dcVerticalMegaMenu({		
			rowItems: '3',
			speed: 'fast',
			effect: 'show',
			direction: 'right'
		});
	});
	</script>
    
    <%= render 'shared/metadata' %>
    
    <link href="/assets/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    
  </head>

  	<body style="background-color:#FAFAFA">
  		<div id="fb-root"></div>
		<script>(function(d, s, id) {
  			var js, fjs = d.getElementsByTagName(s)[0];
  			if (d.getElementById(id)) return;
  			js = d.createElement(s); js.id = id;
  			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1392975447615094";
  			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

   		<div id="wrap">			
			<% if !(defined? @no_header) %>
				<%= render 'layouts/header' %>
			<% end %> 
			
			<% if notice || alert %>
        	<div class="flash_messages">
          		<%= raw "<div data-alert class='alert-box warning'> #{notice} <a href='' class='close'>&times;</a>"  if notice %>
          		<%= raw "<div data-alert class='alert-box alert'> #{alert} <a href='' class='close'>&times;</a>"  if alert %>
        	</div>
      		<% end %>
      		
      		<% if !@info_url.present?  %>
      		<div class="breadcrumbs" style="min-height:1em;">     	
      			<ul class="inline hidden-phone">	
      				<li class="pull-left"><%= render_breadcrumbs :separator => ' / ' %></li>	
					<li class="pull-right"><h6 style="margin:0 0 5px 0;">Call Us: <%= link_to contact_number, "tel:"+contact_number %> (9AM - 7PM | 7 Days)</h6></li>
				</ul>
				<div class="visible-phone">
					<p><%= render_breadcrumbs :separator => ' / ' %></p>
					<h6 style="margin:0 0 5px 0;text-align:right;">Call Us: <%= link_to contact_number, "tel:"+contact_number %> (9AM - 7PM | 7 Days)</h6>
				</div>
			</div>
			<% end %>
			
			<% if @root_url.present? %>
			<div class="welcome-page clear-top">
			<%elsif @info_url.present?  %>
			<div class="info-page container clear-top">
			<% else %>
			<div id="main" class="container clear-top">
			<% end %>	

      			<%= yield %>   			
    		</div>  
    	</div>
    	<%= render 'shared/google_analytics' unless @disable_ga %>
    	<%= render 'shared/footer' %>
  	</body>

</html>

 <!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Tasks List</h4>
  </div>
  <div class="modal-body" id="modal-body">	
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> 
    <%= link_to 'Place an Order', checkout_index_path, :class => "btn btn-primary", :method => "get"%>

  </div>
</div>

<div id="myLocation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Change Current Location</h4>
  </div>
  
  <%= form_for categories_path, :url => { :controller => 'categories', :action => "update_location" },
				:html => {:class => 'prepend-6', :method => "put"} do |f| %>
				
	<div class="modal-body center" id="modal-body">	
  		<%= text_field_tag :location, params[:location], :placeholder => "Enter City Name"  %>	
  	</div>
  	<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> 
    <%= submit_tag 'Change Location', :class => "btn btn-primary", :method => "get"%>
  <% end %>
  </div>
</div>


